<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NINJA_API_KEY</key>
	<string>BxfMMllyFGQdrTUavblOyw==mmDwbfgFZo01d02Y</string>
	<key>NUTRITIONIX_API_KEY</key>
	<string>7a179e5d49b5c04b87fb535a457d925e</string>
	<key>NUTRITIONIX_AP_ID</key>
	<string>bf441376</string>
</dict>
</plist>
